<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd">
	
	<context:property-placeholder/>

    <!-- For autowired -->
    <context:component-scan base-package="org.zapateria.toluca.**" />
    
    <bean id="usuarioRepositoryImpl" class="org.zapateria.toluca.repository.UsuarioRepositoryImpl">
    	<constructor-arg name="operations" ref="cassandraTemplate"/>
    </bean>
    
<!--     <bean id="usuarioRepository" class="org.zapateria.toluca.repository.UsuarioRepository" scope="prototype" /> -->
    
    <bean id="principalService" class="org.zapateria.toluca.service.PrincipalService" scope="prototype" />
    
    <!-- Factory de Spring para manejar la creacion de Beans -->
    <bean id="springServiceFactory" class="org.zapateria.toluca.util.SpringServiceFactory" scope="singleton" />
    
</beans>